<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Résultat du formulaire</title>
</head>
<body>
	<p>Le formulaire a été enregistré avec succès.</p>
	<p>Nom : {{ nom }}</p>
	<p>Prénom : {{ prenom }}</p>
	<p>Date de naissance : {{ date_naissance }}</p>
	<p>Lieu de naissance : {{ lieu_naissance }}</p>
	<p>Téléphone : {{ telephone }}</p>
	<p>GSM : {{ gsm }}</p>
	<p>Adresse e-mail : {{ mail }}</p>
	<p>Numéro de sécurité sociale : {{ niss }}</p>
	<p>Ville : {{ ville }}</p>
	<p>Club : {{ idclub }}</p>
	<p>Inscription : {{ idinscription }}</p>
</body>
</html>
